@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --color-primary: #cba503;
  --color-text-primary: #efcd29;
  --color-text: #18190a;
  --color-footer-primary: #d9ae00;
  --color-footer-secondary: #161616;
  --color-secondary: #020202;
  --color-white: #f7f5ea;
  --color-yellow-10: #312600;
  --color-error: oklch(63.7% 0.237 25.331);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
